.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 0 2.6rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 4.8rem;
  transition: all 0.3s;
  border-radius: 12.2rem;
}

.btn-primary {
  background-color: $yellow;
  color: #855b35;

  &:hover {
    background-color: #ffdc5c;
  }
}

.btn-secondary {
  background-color: transparent;
  border: 0.1rem solid $blue-light;
  color: $blue-light;

  &:hover {
    background-color: $blue-light;
    color: #ffffff;
  }

  &.white {
    border: 0.1rem solid white;
    color: white;

    &:hover {
        background-color: white;
        color: $blue-baby;
      }
  }
}
