$blue: #0073CE;
$blue-light: #00A5F0;
$blue-baby: #00D7D7;
$yellow: #FFC800;
$blue-linear-gradient: linear-gradient(99.31deg, #00A5F0 7.94%, #00D7D7 95.32%);
$gray-6: #33303E;
$gray-5: #4E4B59;
$gray-4: #5F5C6B;
$gray-3: #7A7786;
$gray-2: #C6C5CE;
$gray-1: #F1F0F5;